extends ../layout

block content
    h2.my-4 리뷰 신고 관리
    div
        each r in reportsReview
            div.card.col
                div.card-body
                    span 신고번호 : #{r.report_num}
                    i.bi.bi-dot
                    if(r.report_store_id)
                        small 신고사장ID : #{r.report_store_id}
                    if(r.report_user_id)
                        small 신고유저ID : #{r.report_user_id}
                    button 리뷰로 이동하기
                div
                    h5.card-title 신고내용 : #{r.report_content}
                    h6.card-text 리뷰고유번호 : #{r.review.review_num}
                    h6.card-text 리뷰내용 : #{r.review.content}
                    h6.card-text 한줄평 : #{r.review.comment}
                    h6.card-text 메뉴번호 : #{r.review.menu_num}
                    // 커밋용 주석
            hr