extends ../layout

block content
    div.d-flex.justify-content-between
        h4.mb-3 메뉴 등록
        button.mb-3.btn.btn-light(id="addMenuBtn",type="button") 추가
    div(id="menuList")
        form.row.mb-2(action="/menus/manage.do", method="post")
            // - const menu=await menuService.findByMenu();
            div.col-md-3.mb-2(style="display: inline-block;")
                img#target_img(src="/images/menu/menu_empty.png", width="230", height="230")
                form(name="signform", method="POST", action="./design_update.htm")
                    input#file(type="file", name="file", style="display:none;", onchange="changeValue(this)")
                    input(type="hidden", name="target_url")

            div.col-md-9.mb-2(style="display: inline-block;")
                input.form-control(type="text", name="menu_name", id="menu_name", placeholder="메뉴 이름")
                input.form-control(type="text", name="menu_price", id="menu_price", placeholder="메뉴 가격")
                input.form-control.mb-2(type="text", name="menu_info", id="menu_info", placeholder="메뉴 설명")

            div.col-md-4(style="display: inline-block;")
                input.btn-check(type="radio", name="menu_type", id="popular_m", autocomplete="off", checked)
                label.btn.btn-outline-warning.me-2(for="popular_m") 대표메뉴
                input.btn-check(type="radio", name="menu_type", id="new_m", autocomplete="off")
                label.btn.btn-outline-warning.me-2(for="new_m") 신메뉴
                input.btn-check(type="radio", name="menu_type", id="basics_m", autocomplete="off")
                label.btn.btn-outline-warning.me-2(for="basics_m") 기존메뉴

            div.col-md-2.form-check.form-switch(style="display: inline-block;")
                input.form-check-input(type="checkbox", id="toggle-switch", checked)
                label.form-check-label(for="toggle-switch") 주문가능

    div.text-center
        button.btn.btn-outline-dark.m-1 등록하기
        a.btn.btn-outline-dark.m-3(href="#") 수정하기


    script.
        document.querySelector('#target_img').addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector('#file').click();
        });

        function changeValue(obj) {
            document.querySelector('input[name="target_url"]').value = document.querySelector('#target_img').src;
            // document.querySelector('form[name="signform"]').submit();
        }

        var count_n = 0;
        const addMenuBtn = document.getElementById("addMenuBtn");
        const menuList = document.getElementById("menuList");
        addMenuBtn.addEventListener("click", (e) => {
            count_n++;
            menuList.insertAdjacentHTML("beforeend", imgInputComponent());
        });
        function imgInputComponent(name = count_n) {
            return `
                        <div id="input_menu" class="mt-4">
                            <form class="row" action="/menus/manage.do" method="post">
                                <div class="col-md-3 mb-2" style="display: inline-block;">
                                    <img id="target_img" src="/images/menu/menu_empty.png" width="230" height="230"/>
                                    <form name="signform" method="POST" action="./design_update.htm">
                                        <input id="file" type="file" name="file" style="display:none;" onchange="changeValue(this)"/>
                                        <input type="hidden" name="target_url"/>
                                    </form>
                                </div>
                                <div class="col-md-9 mb-2" style="display: inline-block;">
                                    <input class="form-control" type="text" name="menu_name${name}" id="menu_name${name}" placeholder="메뉴 이름"/>
                                    <input class="form-control" type="text" name="menu_price${name}" id="menu_price${name}" placeholder="메뉴 가격"/>
                                    <input class="form-control mb-2" type="text" name="menu_info${name}" id="menu_info${name}" placeholder="메뉴 설명"/>
                                </div>
                                <div class="col-md-4" style="display: inline-block;">
                                    <input class="btn-check" type="radio" name="menu_type${name}" id="popular_m${name}" autocomplete="off" checked/>
                                    <label class="btn btn-outline-warning me-2" for="popular_m${name}">대표메뉴</label>
                                    <input class="btn-check" type="radio" name="menu_type${name}" id="new_m${name}" autocomplete="off"/>
                                    <label class="btn btn-outline-warning me-2" for="new_m${name}">신메뉴</label>
                                    <input class="btn-check" type="radio" name="menu_type${name}" id="basics_m${name}" autocomplete="off"/>
                                    <label class="btn btn-outline-warning me-2" for="basics_m${name}">기존메뉴</label>
                                </div>
                                <div class="col-md-2 form-check form-switch" style="display: inline-block;">
                                    <input class="form-check-input" type="checkbox" id="toggle-switch${name}" checked/>
                                    <label class="form-check-label" for="toggle-switch${name}">주문가능</label>
                                </div>
                            </form>
                            <button id="menuDeleteBtn" class="btn btn-outline-danger col-md-2" onclick="this.closest('#input_menu').remove()">삭제</button>
                        </div>`;
        }