extends ../layout

block content
    div.waiting.row.col-md-12
        h2 입장 관리
        table
            thead
                tr
                    th 대기번호
                    th 인원
                    th 웨이팅 등록 시간
                    th 입장 알림
                    th 강제 취소
            tbody
                each userswaiting in waiting
                    tr
                        td= userswaiting.wait_num
                        td= userswaiting.user_people
                        td= userswaiting.start_time
                        td
                            button(type='button' class='enter-notification' data-waitingnum=userswaiting.wait_num, href='#') 입장 알림
                        td
                            button(type='button' class='enter-cancel' data-waitingnum=userswaiting.wait_num, href='#') 강제 취소
        // 2 위치
        div.waiting-info
            h2 대기팀 정보
            table
                thead
                    tr
                        th 대기 번호
                        th 대기 인원
                        th 웨이팅 등록시간
                tbody
                    each waiting  in waitingInfo
                        tr
                            td= waiting.wait_num
                            td= waiting.user_people
                            td= waiting.start_time
        // 3 위치
        div.waiting-stats
            h2 Waiting Stats
            p Total Teams: #{waitingStats.total_teams}
            p Total People: #{waitingStats.total_people}
        // 4 위치
        div.store-config
            h2 웨이팅 관련 설정
            div#store-ads
                label(for='store-ads-input') 가게 홍보 URL:
                input#store-ads-input(type='text' name='storeAdsInput', placeholder='가게 홍보 URL 입력하세요')
                button#store-ads-submit(type='button') 완료
            div#time-setup
                label(for='time-setup-input') 기본 대기 시간 설정 (분):
                input#time-setup-input(type='number' name='timeSetupInput', placeholder='대기 시간(분)을 입력하세요')
                button#time-setup-submit(type='button') 완료
            div#closing-time
                label(for='closing-time-input') 웨이팅 마감 시간 설정:
                input#closing-time-input(type='time',name='closingTimeInput' , placeholder='대기등록 마감 시간을 입력하세요')
                button#closing-time-submit(type='button') 완료
