ul.ps-0(style="list-style:none")
    if(review.review_num === reply.rr_num)
        li
            div.card
                div.row.g-0
                    div.card-body
                        p.card-text
                            small.pe-3=`댓글번호 : ${reply ? reply.rr_num : '댓글이 없어요 ㅠㅠ'}`
                            small.px-3=`사장님 : ${loginStore.store_id}`
                        p.card-text.d-flex
                            small.pe-3.text-muted=`작성일 : ${reply ? reply.post_date.toLocaleString("ko-KR") : '댓글이 없어요 ㅠㅠ'}`
                        p.card-text=reply?reply.content:'댓글이 없어요 ㅠㅠ'
                //ul.nav.nav-tabs
                //    li.nav-item
                //        a.nav-link(href=`#replyModify${rrview.rr_num}`, role="button", data-bs-toggle="collapse") 수정
                //    li.nav-item
                //        a(href=`/replies/${rrview.rr_num}/${rrview.review_num}/delete.do`).nav-link 삭제
                //div.collapse(id=`replyModify${rr.rr_num}`)
                //    include views/replies/update
                //div.collapse(id=`replyReply${rr.rr_num}`)
                //    include replyInsert
