extends ../layout
block content
    h2.my-4 리뷰 관리
    h4.my-4 #{store.store_name}
    div
        div.border.border-2.border-dark.my-4.rounded-3
            div.d-flex.justify-content-between
                - const starAvg = Math.round((reviews.reduce((acc, review) => acc + review.star, 0) / reviews.length) * 10) / 10
                h1.my-4.text-start 별점 평균: #{starAvg.toFixed(1)}
                - let reviewsNum = reviews.length //리뷰 총 개수
                - const starCounts = {1: 0,2: 0, 3: 0,4: 0, 5: 0, };
                - for (const review of reviews) {starCounts[review.star] += 1;}
                - let fiveStarCount = starCounts[5];
                - let percentage5 = Math.round((fiveStarCount / reviewsNum) * 100);
                - let fourStarCount = starCounts[4];
                - let percentage4 = Math.round((fourStarCount / reviewsNum) * 100);
                - let threeStarCount = starCounts[3];
                - let percentage3 = Math.round((threeStarCount / reviewsNum) * 100);
                - let twoStarCount = starCounts[2];
                - let percentage2 = Math.round((twoStarCount / reviewsNum) * 100);
                - let oneStarCount = starCounts[1];
                - let percentage1 = Math.round((oneStarCount / reviewsNum) * 100);
                div.w-50
                    div.d-flex.justify-content-around
                        p 5점: #{starCounts['5']}개
                        div.progress.my-3.me-3.w-75(style="height: 15%;")
                            div.progress-bar(role='progressbar', aria-label='Example with label', style=`width: ${percentage5}%;`, aria-valuenow=`${percentage5}`, aria-valuemin='0', aria-valuemax='100') #{percentage5}%
                    div.d-flex.justify-content-around
                        p 4점: #{starCounts['4']}개
                        div.progress.my-3.me-3.w-75(style="height: 15%;")
                            div.progress-bar(role='progressbar', aria-label='Example with label', style=`width: ${percentage4}%;`, aria-valuenow=`${percentage4}`, aria-valuemin='0', aria-valuemax='100') #{percentage4}%
                    div.d-flex.justify-content-around
                        p 3점: #{starCounts['3']}개
                        div.progress.my-3.me-3.w-75(style="height: 15%;")
                            div.progress-bar(role='progressbar', aria-label='Example with label', style=`width: ${percentage3}%;`, aria-valuenow=`${percentage3}`, aria-valuemin='0', aria-valuemax='100') #{percentage3}%
                    div.d-flex.justify-content-around
                        p 2점: #{starCounts['2']}개
                        div.progress.my-3.me-3.w-75(style="height: 15%;")
                            div.progress-bar(role='progressbar', aria-label='Example with label', style=`width: ${percentage2}%;`, aria-valuenow=`${percentage2}`, aria-valuemin='0', aria-valuemax='100') #{percentage2}%
                    div.d-flex.justify-content-around
                        p 1점: #{starCounts['1']}개
                        div.progress.my-3.me-3.w-75(style="height: 15%;")
                            div.progress-bar(role='progressbar', aria-label='Example with label', style=`width: ${percentage1}%;`, aria-valuenow=`${percentage1}`, aria-valuemin='0', aria-valuemax='100') #{percentage1}%



        form.mx-auto.mt-4.mb-2(method="GET", action="/reviews/list.do",style="width:400px")
            input(type="hidden",value=params.field,name="field")
            input(type="hidden",value=params.value,name="value")
            div.d-flex.justify-content-between.my-4.input-group(style="width: 100%")
                div.border.border-2.border-dark.text-center(style="width: 50%")
                    h4 전체 리뷰 (#{count})
                div.border.border-2.border-dark.text-center(style="width: 50%")
                    h4 미답변 리뷰 (#{uncount})
        div.container.my-4
            each review,i in reviews
                -const firstReply = review.reviewRepliesEntities[0];
                    div.row.border.border-2.border-dark.rounded-3.mt-3
                        div.col-2
                            h3.my-2.text-start #{review.user_id}
                            h5.my-2.text-start 등급
                            div.star-ratings
                                div.star-ratings
                                    - const stars = '★'.repeat(review.star)
                                    p #{stars}
                        div.col-8
                            p.mt-2 리뷰 작성 날짜 #{review.date}
                            h4.mt-4 리뷰내용
                            p.mt-2 #{review.content}
                            p.my-4 메뉴 한줄평: #{review.comment}
                            div.my-4 메뉴 사진 #{review.img}
                            p.my-4 주문메뉴:
                        div.col-2.d-flex.flex-column.align-items-start.justify-content-between
                            div.mt-3
                                - let reportCheck = 0;
                                each report in reports
                                    if (report.review_num === review.review_num)
                                    - reportCheck = 1;
                                if (reportCheck === 0)
                                include ../reports/report
                            if(firstReply==null)
                                div.text-end.mb-3
                                    div.modal.fade(aria-hidden="true", aria-labelledby="insertModalToggle", tabindex="-1" id=`insertModalToggle${review.review_num}`)
                                        div.modal-dialog.modal-dialog-centered.modal-lg.modal-dialog-scrollable
                                            div.modal-content
                                                div.modal-header
                                                    h1.modal-title.fs-5 #{review.user_id}님에 대한 리뷰답글
                                                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                                                form(action="/replies/insert.do", method="POST")
                                                    div.modal-body
                                                        input#inputReviewNum.form-control(type="hidden",value=review.review_num,name="review_num")
                                                        textarea#inputText.form-control(style={
                                                            width: "100%",
                                                            height: "200px",
                                                            rows:"3"
                                                        }, name="content")
                                                    div.modal-footer
                                                        button.btn.btn-primary(type="submit") 등록하기
                                a.mb-3.btn.btn-primary(data-bs-toggle="modal", href=`#insertModalToggle${review.review_num}`, role="button") 등록하기
                    -if(firstReply!=null)
                        -const replyContent = firstReply.content;
                        -const replyPostdate = firstReply.post_date;
                        if(`${replyContent}`)
                        include ../replies/list