extends ../layout
block content
    h2.my-4 리뷰 관리
    h4.my-4 #{store.store_name}
    div
        div.border.border-2.border-dark.my-4
            div.d-flex.justify-content-between
                - const starAvg = Math.round((reviews.reduce((acc, review) => acc + review.star, 0) / reviews.length) * 10) / 10
                h1.my-4.text-start 별점 평균: #{starAvg.toFixed(1)}
                div.my-4(style="width: 50%")
                - const totalReviews = reviews.length
                - const stars = [0, 0, 0, 0, 0]
                each review in reviews
                    - if (review.star >= 1 && review.star <= 5)
                    - stars[review.star - 1]++

                div.progress
                    each star, index in stars
                        - const percentage = totalReviews > 0 ? Math.round(star / totalReviews * 100 * 10) / 10 : 0
                        div.progress-bar(
                            role='progressbar'
                            aria-valuenow=percentage
                            aria-valuemin='0'
                            aria-valuemax='100'
                            style=`width: ${percentage}%;`
                        )
                            | #{index + 1} star: #{percentage}%

        form.mx-auto.mt-4.mb-2(method="GET", action="/boards/list.do",style="width:400px")
            input(type="hidden",value=params.field,name="field")
            input(type="hidden",value=params.value,name="value")
            div.d-flex.justify-content-between.my-4.input-group(style="width: 100%")
                div.border.border-2.border-dark.text-center(style="width: 50%")
                    button.btn.btn-outline-primary.text-decoration-none 전체 리뷰 (#{count})
                div.border.border-2.border-dark.text-center(style="width: 50%")
                    button.btn.btn-outline-primary.text-decoration-none 미답변 리뷰 (#{uncount})

        div.container.my-4
            each review in reviews
                div.row.border.border-2.border-dark
                    div.col-2
                        h3.my-2.text-start #{review.review_num}
                        h3.my-2.text-start #{review.user_id}
                        h5.my-2.text-start 등급
                        div.star-ratings
                            div.star-ratings
                                - const stars = '★'.repeat(review.star)
                                p #{stars}
                    div.col-8
                        h4.mt-4 리뷰내용
                        p.mt-2 #{review.content}
                        p.my-4 메뉴 한줄평: #{review.coment}
                        div.my-4 메뉴 사진 #{review.img}
                        p.my-4 주문메뉴:
                    //div.mb-3
                    //    include stores/replies/insert
                    div.col-2.d-flex.flex-column.align-items-start.justify-content-between
                        div
                            button.btn.btn-outline-secondary.my-4(type="button") 신고하기
                        div
                            button.btn.btn-outline-secondary.mt-auto.my-4(type="button") 등록하기
                each reply in replies
                    include ../replies/list