extends layout

block content
    div.mt-3
        ul.d-flex.list-unstyled
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/reviews/list.do`) 리뷰 관리
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/`) 가게 정보 관리
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/menu/manage.do`) 가게 메뉴 관리
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/reviews/admin_waiting.do`) 웨이팅 관리
        div.container.border.border-2.w-100
            h4.my-4 웨이팅 관리
        div#

            tr
                th
                th Number of People
                th Registration Time
                th Action
            each waiting in waitings
                tr
                    td= waiting.wait_num
                    td= waiting.user_people
                    td= waiting.start_time
                    td
                        button(type='button' class='btn-enter' data-id=waiting.waiting_num) 입장알림
                        button(type='button' class='btn-cancel' data-id=waiting.waiting_num) 강제취소

        // 대기 현황을 보여주는 div
        div#waiting_teams
            // 대기 중인 팀의 수가 7개 이상일 경우
            if waitingTeams.length > 7
                // 생략표시를 보여줌
                p 생략표시
                // 제일 마지막 대기 팀의 대기 번호, 인원, 대기 등록 시간을 보여줌
                p= `대기번호: ${waitingTeams[waitingTeams.length - 1].wait_num}, 인원: ${waitingTeams[waitingTeams.length - 1].user_people}, 대기등록시간: ${waitingTeams[waitingTeams.length - 1].start_time}`
            else
                each team in waitingTeams
                    p= `대기번호: ${team.wait_num}, 인원: ${team.user_people}, 대기등록시간: ${team.start_time}`
        div
            h3 대기 팀 정보
            //- 입장순서가 가까운 3팀을 제외한 대기 팀들의 정보를 출력한다.
            each team in waitingTeams.slice(3)
                div
                    p 팀 #{team.num}: #{team.people}명
            //- 대기 중인 팀이 없을 경우 '대기 중인 팀이 없습니다.' 라는 문구를 출력한다.
            if waitingTeams.length <= 3
                div
                    p 대기 중인 팀이 없습니다.
        div#waiting-settings
            div#store_ads
                label(for='storeAdsInput') 가게 홍보 URL
                input#storeAdsInput(type='text', name='storeAds', placeholder='URL 입력')
            div#time_setup
                label(for='defaultWaitTimeInput') 기본 대기 시간 설정
                input#defaultWaitTimeInput(type='number', name='defaultWaitTime', min='1', max='60', step='1', placeholder='기본 대기 시간(분) 입력')
            div#waiting_onoff_toggle
                label(for='waitingToggleInput') 웨이팅 ON/OFF
                input#waitingToggleInput(type='checkbox', name='waitingToggle')
                label(for='waitingToggleInput') ON/OFF

                // waitingTeams 값을 해결해야함
                    // ----> 모르겠음
                // team 이라고 되어있는 애들도 해결해야함