body
    // 1의 위치
    div
        if nextTeam
            h2= `Next Team: ${nextTeam.name}`
            p= `Waited: ${nextTeam.waited} min`
            p= `Party Size: ${nextTeam.partySize}`
            button(id='enter', type='button') Enter
            button(id='cancel', type='button') Cancel
    // 2의 위치
    div
        h2 Other Teams
        each team in teams
            if team.id !== nextTeam?.id
                p= `Waited: ${team.waited} min`
                p= `Party Size: ${team.partySize}`
    // 3의 위치
    div
        h2 Waiting Status
        p= `Total Waiting Parties: ${teams.length}`
        p= `Total Waiting People: ${totalPartySize}`
    // 4의 위치
    div
        h2 Setting
        form(action='/setting', method='post')
            label(for='promoUrl') Promo URL
            input(type='text', name='promoUrl')
            label(for='basicWait') Basic Wait Time
            input(type='number', name='basicWait', min='0')
            button(type='submit') Save
        form(action='/switch', method='post')
            label(for='waitingSwitch') Waiting Switch
            input(type='checkbox', name='waitingSwitch', checked=waitingSwitch)
            button(type='submit') Save

    // views/waiting.pug

    if waitingTeams.length
        h1 Next Team: #{nextTeam.team_name} (#{nextTeam.num_of_people} people)

    h2 Other Waiting Teams11
    ul

