extends ../layout

block content
    div.d-flex.justify-content-between
        h4.mb-3 챱딜 수정
    each deal in dealList
        form.mt-4(action=`/chapdeal/${deal.event_num}/update.do`, method="post", enctype="multipart/form-data")
            input(type="hidden", value=deal.event_num, name="event_num")

            img.mb-1(width="230", height="230", src=deal.event_img, value="")
            label.form-label(for='event_img')
            input.form-control.mb-1(type='file', id='event_img', name="event_img", accept="image/*" )

            input.form-control.mb-1(type="text", name="event_title", id="event_title", value=deal.event_title, placeholder="이벤트 제목")
            input.form-control.mb-1(type="text", name="event_condition", id="event_condition", value=deal.event_condition, placeholder="이벤트 조건")
            input.form-control.mb-1(type="text", name="event_reward", id="event_reward", value=deal.event_reward, placeholder="이벤트 보상")

            div.d-flex.justify-content-between
                label(for="event_start")
                input.form-control(type="date" id="event_start" name="event_start" value=deal.event_start)
                h4 ~
                label(for="event_end")
                input.form-control(type="date" id="event_end" name="event_end" value=deal.event_end)

            div.d-flex.justify-content-center
                button.btn.btn-outline-dark.btn-lg.m-5(type='submit') 수정하기