extends ../layout

block content
    form#addStoreInfoForm(method="post", enctype="multipart/form-data")
        h1 가게정보수정
        hr
        div.form-floating
            h3.mt-5.mb-5.label(for='store_name') 가게명
            input#store_name.form-control.mb-5( name='storeName', type='text' placeholder="??" value=store.store_name)
        hr
        div.form-floating
            h3.mt-5.mb-5.label(for='store_num') 가게 고유번호
            input#store_num.form-control.mb-5( name='storeNum', type='text' readonly placeholder="??" value=store.store_num)
        hr
        div.form-floating
            div
                h3.mt-5.mb-5.label(for='store_img') 대표이미지
                //div.box(style='width: 100px; height: 100px; background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px;')
                div
                    input.mb-5(type="file",id='store_img1' class="form-control", name="chooseFile" accept="image/*" onchange="loadFile(this)")
        hr
        div.form-floating
            div
                h3.mt-5.mb-5.label(for='store_img') 이미지 등록
                //div(style='display:flex; justify-content: space-around; align-items:center;')
                input.mb-5(type="file", class="form-control", id="store_img2", name="chooseFile" accept="image/*" onchange="loadFile(this)")
        hr
        h3.mt-5.mb-5 가게 업종
            each st,i in storeTypes
                h3.d-flex.mt-5.mb-5.label.justify-content-between(for='select_main_category')
                    select#maincategory1.form-select.mb-5.w-25(name="cate"+i onchange=`changeMenu('cate${i}')` disabled=(!(st.category_num>=1 && st.category_num<=10)))
                        option(value="") 음식점 선택
                        option(value=1, selected=(st.category_num===1)) 고기
                        option(value=2, selected=(st.category_num===2)) 돈까스, 회, 일식
                        option(value=3, selected=(st.category_num===3)) 탕, 찜, 찌개
                        option(value=4, selected=(st.category_num===4)) 양식
                        option(value=5, selected=(st.category_num===5)) 중식
                        option(value=6, selected=(st.category_num===6)) 아시안
                        option(value=7, selected=(st.category_num===7)) 패스트푸드
                        option(value=8, selected=(st.category_num===8)) 백반, 국수
                        option(value=9, selected=(st.category_num===9)) 분식
                        option(value=10, selected=(st.category_num===10)) 기타
                    select#maincategory2.form-select.mb-5.w-25(name="cate"+i onchange=`changeMenu('cate${i}')` disabled=(!(st.category_num >= 11 && st.category_num <= 16)))
                        option(value='') 술집 선택
                        option(value=11, selected=(st.category_num===11)) 호프집
                        option(value=12, selected=(st.category_num===12)) 바
                        option(value=13, selected=(st.category_num===13)) 이자카야
                        option(value=14, selected=(st.category_num===14)) 포차
                        option(value=15, selected=(st.category_num===15)) 와인바
                        option(value=16, selected=(st.category_num===16)) 기타
                    select#maincategory3.form-select.mb-5.w-25(name="cate"+i onchange=`changeMenu('cate${i}')` disabled=(!(st.category_num >= 17 && st.category_num <= 21)))
                        option(value='') 카페 선택
                        option(value=17, selected=(st.category_num===17)) 커피전문점
                        option(value=18, selected=(st.category_num===18)) 디저트카페
                        option(value=19, selected=(st.category_num===19)) 차전문점
                        option(value=20, selected=(st.category_num===20)) 베이커리카페
                        option(value=21, selected=(st.category_num===21)) 기타

        hr
        div.form-floating
                h3.mt-5.mb-5.label(for='address') 가게 주소
                input#address.form-control.mb-5(name='address', type='text' placeholder="??" value=store.address)
        hr
        div
            h3.mt-5.mb-5 가게전화번호
            div.form-floating
                h5.mb-3.label(for='store_call') 대표 번호
                input#store_call.form-control.mb-5(name='storeCall', type='text' placeholder="??" value=storeManage.store_call)
        hr
        form#addStoreInfo
            h3.mt-5.mb-5 가게 소개 글
            div.form-floating
                h5.mb-3.label(for='detail_info') 가게 디테일 소개글 작성
                input#detailInfo.form-control.mb-4(name='detailInfo', type='text' placeholder="??" value=store.detail_info)
            div.form-floating
                h5.mb-3.label(for='short_info') 가게 한줄 소개글 작성
                input#shortInfo.form-control.mb-5(name='shortInfo', type='text' placeholder="??" value=store.short_info)
        hr
        div
            h3.mt-5.mb-5 url 등록
            div.form-floating
                h5.mb-3.label(for='blog')(style='display: inline-block; margin-right: 10px;') 블로그 url
                input#blog.form-control.mb-4(name='blog', type='text' placeholder="영업 날짜" value=store.blogurl)
            div.form-floating
                h5.mb-3.label(for='youtube')(style='display: inline-block; margin-right: 10px;') 유튜브 url
                input#youtube.form-control.mb-4(name='youtube', type='text' placeholder="휴무일" value=store.youtubeurl)
            div.form-floating
                h5.mb-3.label(for='facebook')(style='display: inline-block; margin-right: 10px;') 페이스북 url
                input#facebook.form-control.mb-4(name='facebook', type='text' placeholder="??" value=store.facebookurl)
            div.form-floating
                h5.mb-3.label(for='insta')(style='display: inline-block; margin-right: 10px;') 인스타 url
                input#insta.form-control.mb-4(name='insta', type='text' placeholder="??" value=store.instaurl)
        hr
        div
            h3.mt-5.mb-5 영업 시간
            div
                div.d-flex.justify-content-between
                    h5.mb-3.label(for='regular_closeDay')(style='display: inline-block; margin-right: 10px;') 휴무일
                    button.btn.btn-primary(id='addHolidayBtn') 추가
                p 휴무 요일과 날짜 둘 중에 하나만 선택해주세요 추가하고 싶을 시 추가버튼을 눌러주세요.
                each holiday in holidays
                    div#addHolidays
                        div.d-flex.justify-content-around
                            div.form-floating
                                h5.mb-3.label.fs-6(for='week')(style='margin-right: 10px;') 휴무 요일 선택
                                select.form-select.mb-5(name="week")
                                    option(value='월', selected=(holiday.week == '월')) 월
                                    option(value='화', selected=(holiday.week == '화')) 화
                                    option(value='수', selected=(holiday.week == '수')) 수
                                    option(value='목', selected=(holiday.week == '목')) 목
                                    option(value='금', selected=(holiday.week == '금')) 금
                                    option(value='토', selected=(holiday.week == '토')) 토
                                    option(value='일', selected=(holiday.week == '일')) 일
                            div.form-floating
                                h5.mb-3.label.fs-6(for='date' style='margin-right: 10px;') 휴무 날짜 선택
                                input#date.form-control.mb-4.mt-3(name='date', type='date' placeholder="??" value=holiday.date)
                            div.form-floating(style='display:flex; flex-direction:column; align-items:center')
                                div
                                    label 정규/비정규 선택
                                div.form-check.form-switch.d-flex.align-items-center.mt-3
                                    label.form-check-label.me-5(for="flexSwitchCheckDefault5") 비정규
                                    input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault6", style="width: 2.5rem; height: 1.5rem;" checked=(holiday.regular == 1))
                                    label.form-check-label.ms-2(for="flexSwitchCheckDefault5") 정규
                            button.btn.btn-outline-danger.btn-sm(style="height: 30px;", onclick="this.closest('#addHolidays').remove()") 삭제
            div
                div.d-flex.justify-content-between
                    h5.mb-3 브레이크 타임
                    button.btn.btn-primary(id='addBreaktimeBtn') 추가
                each breakTime in breakTimes
                    div#addBreaktimes
                        div.d-flex.justify-content-around
                            div.form-floating
                                h5.mb-3.label.fs-6(for='rest_start_time')(style='margin-right: 10px;') 휴식 시작 시간
                                input#rest_start_time.form-control.mb-4(name='rest_start_time', type='time' placeholder="??" value=breakTime.rest_start_time)
                            div.form-floating
                                h5.mb-3.label.fs-6(for='rest_end_time')(style='margin-right: 10px;') 휴식 끝 시간
                                input#rest_end_time.form-control.mb-4(name='rest_end_time', type='time' placeholder="??" value=breakTime.rest_end_time)
                            button.btn.btn-outline-danger.btn-sm(style="height: 30px;", onclick="this.closest('#addBreaktimes').remove()") 삭제
                div.form-floating
                    h5.mb-3.label(for='opentime')(style='display: inline-block; margin-right: 10px;') 영업 시간
                    input#opentime.form-control.mb-4(name='openTime', type='text' placeholder="??" value=store.opentime)
                div.form-floating
                    h5.mb-3.label(for='lastorder')(style='display: inline-block; margin-right: 10px;') 라스트 오더
                    input#lastorder.form-control.mb-4(name='lastOrder', type='text' placeholder="??" value=store.lastorder)
                div.form-floating
                    h5.mb-3.label(for='waiting_closetime')(style='display: inline-block; margin-right: 10px;') 웨이팅 마감 시간
                    input#waiting_closetime.form-control.mb-5(name='waitingClosetime', type='text' placeholder="??" value=store.waiting_closetime)
        hr
        div.form-floating
            h3.mt-5.mb-5 원산지 표시
            h4.mb-3.label(for='madein') 재료에 대한 원산지 표시
            textarea.form-control(id='madein' placeholder="??") #{store.madein}
        hr
        div.form-floating
            h3.mt-5.mb-5 방송 출연 정보
            h4.mb-3.label(for='tvshow') 출연 매채 등록
            textarea.form-control(id='tvshow' placeholder="??") #{store.tvshow}
        hr
        div
            h3.mt-5.mb-5 편의 시설
            div.mb-5(style='display:flex; justify-content: space-around; align-items:center;')
                div(style='display:flex; flex-direction:column; align-items:center')
                    div
                        label 주차 편의
                    div.form-check.form-switch.d-flex.align-items-center
                        label.form-check-label.me-5(for="flexSwitchCheckDefault1") OFF
                        input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault1", style="width: 2.5rem; height: 1.5rem;", checked=(store.parking == 1))
                        label.form-check-label.ms-2(for="flexSwitchCheckDefault1") ON
                div(style='display:flex; flex-direction:column; align-items:center')
                    div
                        label 애기 의자
                    div.form-check.form-switch.d-flex.align-items-center
                        label.form-check-label.me-5(for="flexSwitchCheckDefault2") OFF
                        input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault2", style="width: 2.5rem; height: 1.5rem;", checked=(store.babychair == 1))
                        label.form-check-label.ms-2(for="flexSwitchCheckDefault2") ON
                div(style='display:flex; flex-direction:column; align-items:center')
                    div
                        label 흡연실
                    div.form-check.form-switch.d-flex.align-items-center
                        label.form-check-label.me-5(for="flexSwitchCheckDefault3") OFF
                        input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault3", style="width: 2.5rem; height: 1.5rem;", checked=(store.smokingroom == 1))
                        label.form-check-label.ms-2(for="flexSwitchCheckDefault3") ON
                div(style='display:flex; flex-direction:column; align-items:center')
                    div
                        label 와이파이
                    div.form-check.form-switch.d-flex.align-items-center
                        label.form-check-label.me-5(for="flexSwitchCheckDefault4") OFF
                        input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault4", style="width: 2.5rem; height: 1.5rem;", checked=(store.wifi == 1))
                        label.form-check-label.ms-2(for="flexSwitchCheckDefault4") ON
                div(style='display:flex; flex-direction:column; align-items:center')
                    div
                        label 화장실 구분
                    div.form-check.form-switch.d-flex.align-items-center
                        label.form-check-label.me-5(for="flexSwitchCheckDefault5") OFF
                        input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault5", style="width: 2.5rem; height: 1.5rem;")
                        label.form-check-label.ms-2(for="flexSwitchCheckDefault5") ON
        hr
        form#addHash
            h3.mt-5.mb-5 해시태그 등록
            input#hash.form-control.mb-5(name='hash', type='text' placeholder="해시태그 등록")
        hr
        div.text-end.mb-5
            a.btn.btn-outline-danger.me-2(href=`/infos/delete.do`) 삭제
            button#resetBtn.btn.btn-outline-warning.me-2(type='reset') 초기화
            button#addBtn.btn.btn-outline-primary(type='submit') 수정

    script.
        function changeMenu(selectName){
            const selectNodes = addStoreInfoForm[selectName];
            console.log(selectNodes);
            let check=false;
            for(const node of selectNodes){
                if(!node.value){
                    node.setAttribute("disabled",true)
                }else{
                    check=true;
                    node.removeAttribute("disabled")
                }
            }
            if(!check){
                for (const node of selectNodes) {
                    node.removeAttribute("disabled");
                }
            }
        }


        const addHolidayBtn = document.getElementById("addHolidayBtn")
        const addHolidays = document.getElementById("addHolidays")

        addHolidayBtn.addEventListener("click",(e)=>{
            addHolidays.insertAdjacentHTML("beforeend",addHolidayInputComponent());
        })

        function addHolidayInputComponent(){
            return `
                    <div id="inputHolidays" class="d-flex justify-content-around">
                        <div>
                            <h5 class="mb-3 label fs-6" for="week" style="margin-right: 10px;">휴무 요일 선택</h5>
                            <select class="form-select mb-5" name="week">
                                <option value="1">월</option>
                                <option value="2">화</option>
                                <option value="3">수</option>
                                <option value="4">목</option>
                                <option value="5">금</option>
                                <option value="6">토</option>
                                <option value="7">일</option>
                            </select>
                        </div>
                        <div>
                            <h5 class="mb-3 label fs-6" for="date" style="margin-right: 10px;">휴무 날짜 선택</h5>
                            <input class="form-control mb-4" id="date" name="date" type="date" placeholder="??">
                        </div>
                        <div style="display:flex; flex-direction:column; align-items:center">
                            <div>
                                <label>정규/비정규 선택</label>
                            </div>
                            <div class="form-check form-switch d-flex align-items-center">
                                <label class="form-check-label me-5" for="flexSwitchCheckDefault5">비정규</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault6" style="width: 2.5rem; height: 1.5rem;">
                                <label class="form-check-label ms-2" for="flexSwitchCheckDefault5">정규</label>
                            </div>
                        </div>
                        <button id="" class="btn btn-outline-danger btn-sm" style="height: 30px;" onclick="this.closest('#inputHolidays').remove()">삭제</button>
                    </div>

            `;
        }


        const addBreaktimeBtn = document.getElementById("addBreaktimeBtn")
        const addBreaktimes = document.getElementById("addBreaktimes")

        addBreaktimeBtn.addEventListener("click", (e) => {
            addBreaktimes.insertAdjacentHTML("beforeend", addBreaktimeInputComponent());
        })

        function addBreaktimeInputComponent() {
            return `
                        <div id="inputBreaktimes" class="d-flex justify-content-around">
                            <div>
                                <h5 class="mb-3 label fs-6" for="rest_start_time" style="margin-right: 10px;">휴식 시작 시간</h5>
                                <input class="form-control mb-4" id="rest_start_time" name="rest_start_time" type="time" placeholder="??">
                            </div>
                            <div>
                                <h5 class="mb-3 label fs-6" for="rest_end_time" style="margin-right: 10px;">휴식 끝 시간</h5>
                                <input class="form-control mb-4" id="rest_end_time" name="rest_end_time" type="time" placeholder="??">
                            </div>
                            <button id="" class="btn btn-outline-danger btn-sm" style="height: 30px;" onclick="this.closest('#inputBreaktimes').remove()">삭제</button>
                        </div>

            `;
        }


